.footer {
    padding-bottom: 34px;
}

.footer__top {
    height: 125px;/**/
    margin-bottom: 52px;
    background: #00A99D;
    color: #FFFFFF;
}

.footer__top-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 43px;
}

.footer__info-links {
    display: flex;
    flex-direction: column;
}

.footer__info-desc {
    max-width: 880px;
}

.footer__info-desc-title,
.footer__info-desc-text {
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    color: #333333;
    opacity: 0.5;
}

.footer__info-desc-title {
    margin-bottom: 9px;
}

.footer__info-links a {
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;

    color: #00A99D;
}

.footer__links {
    flex-direction: row;
}

.footer__logo {
    display: block;
    height: 78px;
    margin-right: 27px;
}

.footer__copy {
    margin: 0;
    margin-top: 37px;
    margin-right: 192px;
    padding: 0;

    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    color: #000000;
}

.footer__payment {
    margin-top: 5px;
    margin-right: 161px;
}

.footer__social {
    margin-top: 5px;
}

.footer__logo-belberry {
    display: block;
    height: 32px;
    margin-top: 41px;
    margin-left: auto;
}
